<div class="app-container">
  <app-browser-form (flightsSender)="receiveListOfFlights($event)" (locationsSender)="receiveLocations($event)" (submitStatus)="receiveFormStatus($event)"></app-browser-form>
  <div class="available-flights-container">
    @for (flight of flights; track flight.id){
    <app-flight-record [flightRecord]="flight" [locations]="locations"></app-flight-record>
    }
  </div>
  @if(flights.length === 0 && isSubmitted){
    <div class="loading">
      <mat-spinner></mat-spinner>
      <div>Searching for flights...</div>
    </div>
  }

</div>
