.container{
  display: flex;
  align-items: baseline;
  gap: 20px;
}
.main-container{
  min-width: 700px;
  width: 65rem;
  display: flex;
  align-items: center;
  background: floralwhite;
  justify-content: space-evenly;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
}
.price-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-title{
  font-weight: bold;
}
b{
  font-size: 1.5rem;
}
.flight-time{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flight-datetime{
  display: flex;
  flex-direction: column;
  align-items: center;
}
