.container{
  display: flex;
  align-items: baseline;
  gap: 20px;
}
.main-container{
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #dc2e2e;
}
