<div class="container">
    <h1>Flight Browser</h1>
    <form #formDirective="ngForm" [formGroup]="flightForm" (submit)="onSubmit(formDirective)">
      <mat-form-field class="example-full-width">
        <mat-label>City of departure</mat-label>
        <input matInput formControlName="origin" >
        @if(flightForm.get('origin')?.errors?.['required']){
          <mat-error>This field is mandatory</mat-error>
        }
      </mat-form-field>
        <mat-form-field >
            <mat-label>City of arrival</mat-label>
            <input matInput type="text" formControlName="destination">
          @if(flightForm.get('destination')?.errors?.['required']){
            <mat-error>This field is mandatory</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Departure Date</mat-label>
          <input matInput [matDatepicker]="departurePicker" formControlName="dateOfDeparture" [min]="minDate" (dateChange)="onSetDepartureDate()">
          @if(flightForm.get('dateOfDeparture')?.errors?.['required']){
            <mat-error>This field is mandatory</mat-error>
          }
          <mat-datepicker-toggle matIconSuffix [for]="departurePicker"></mat-datepicker-toggle>
          <mat-datepicker #departurePicker></mat-datepicker>
        </mat-form-field>
      <mat-form-field>
        <mat-label>Date of return</mat-label>
        <input matInput [matDatepicker]="returnPicker" formControlName="dateOfReturn" [min]="minReturnDate">
        <mat-datepicker-toggle matIconSuffix [for]="returnPicker"></mat-datepicker-toggle>
        <mat-datepicker #returnPicker></mat-datepicker>
      </mat-form-field>
        <mat-form-field>
            <mat-label>Number of passengers</mat-label>
            <input matInput formControlName="adults">
          @if(flightForm.get('adults')?.errors?.['required']){
            <mat-error>This field is mandatory</mat-error>
          }
          @if(flightForm.get('adults')?.errors?.['min']){
            <mat-error>Minimal number of passengers is 1.</mat-error>
          }
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">Search flight!</button>
    </form>
</div>
