/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #F0F4F6;
}
.failed-snackBar {
  background: #FA113D;
  --mdc-snackbar-container-color: #FA113D;
  --mdc-snackbar-supporting-text-color: #efebd9;
  color: wheat;
  border-radius: 25px;
}
